<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinAdSenseTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinAdSenseTracker.Properties.Settings>
            <setting name="GoogleClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTTBrokerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTTBrokerPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="MQTTBrokerUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="MQTTBrokerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>1</value>
            </setting>
        </WinAdSenseTracker.Properties.Settings>
    </userSettings>
</configuration>